body {

margin:0;

font-family:
Arial, Helvetica, sans-serif;

background:#eaf7f7;

color:#183b3b;

}



header {

background:white;

padding:20px;

box-shadow:
0 2px 10px rgba(0,0,0,.08);

}



nav {

display:flex;

justify-content:space-between;

align-items:center;

max-width:1100px;

margin:auto;

}



nav h1 {

color:#198f8f;

}



nav a {

color:#183b3b;

text-decoration:none;

margin-left:20px;

}




.hero {

height:80vh;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

background:

linear-gradient(
rgba(230,250,250,.8),
rgba(220,245,240,.9)
);

}




.hero h2 {

font-size:48px;

color:#176b6b;

}



.hero p {

font-size:20px;

max-width:600px;

}




.button {

display:inline-block;

margin-top:25px;

padding:14px 28px;

border-radius:30px;

background:#2aa876;

color:white;

text-decoration:none;

}




section {

max-width:1000px;

margin:auto;

padding:70px 20px;

}



h2 {

text-align:center;

font-size:35px;

}




.cards {

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:25px;

}



.card {

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 5px 20px rgba(0,0,0,.08);

}




.card h3 {

color:#198f8f;

}



.socials {

text-align:center;

}



.socials a {

margin:15px;

color:#198f8f;

text-decoration:none;

font-weight:bold;

}



footer {

text-align:center;

padding:30px;

background:white;

}
